.header {
    font-size: 30px;
    max-width: 800px;
    margin: auto;
    color: #E5E7EB;
    display: flex;
    padding-left: 25px;
}
.links {
    font-size: 16px;
    color: #E5E7EB;
    margin-left: auto;
    list-style: none;
}
.indlinks {
    color: #E5E7EB;
    display: inline-block;
    justify-content: space-between;
    padding-right: 25px;
    margin-top: 10px;
}
a:hover,
a:focus {
    color: rgb(150, 150, 150);
    outline: none !important;
    text-decoration: none;
}
a {
    text-decoration: none;
    color:#E5E7EB
}
.intro {
    background-color: #1F2937;
}
.leftup {
    font-size: 48px;
    font-style: bold;
    color: #F9FAF8;
}
.leftdown {
    font-weight: 18px;
    color: #E5E7EB;
}
.button1 {
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #3882F6;
}
.right {
    background-color: #a0a0a0;
}
.info {
    background-color: #fff;
    height: 400px;
}
.infoheader {
    padding-top: 20px;
    text-align: center;
}
.boxes {
    padding-left: 400px;
    padding-right: 400px;
}
.boxrow {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.box {
    border-radius: 10px;
    border: 5px solid #3882F6;
    padding: 20px; 
    width: 100px;
    height: 100px;  
    display: flex;
}
.textrow {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.text {
    width: 150px;
    height: 100px;  
    display: flex;
    text-align: center;
}
.quotebox {
    background-color: #E5E7EB;
    height: 450px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 800px;
}
.endquote {
    text-align: right;
    max-width: 800px;
    padding-left: 150px;
    padding-right: 180px;
    margin: auto;
}
.signuparea {
    background-color: #fff;
    height: 300px;
    align-items: center;
    justify-items: center;
}
.signupbox {
    border-radius: 10px;
    background-color: #3882F6;
    margin: auto;
    margin-top: 90px;
    max-width: 800px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}
.signuptext {
    margin: 50px;
    color: #fff;
    max-width: 500px;
    flex: 1;
}
.buttonarea {
    padding-top: 0px;
}
.button2 {
    background-color: #3882F6;
    border-color: #fff;
    border-radius: 8px;
    border-width: 1;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    float: right;
    padding-inline: 2rem;
    padding-top: 15px;
}
.footer {
    background-color: #1F2937;
}
.copyright {
    text-align: center;
    color:#E5E7EB;
    padding: 8px;
}
